{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quintessence</title>
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
</head>
<body class="flex column v_center">
    <header class="index_header flex btw gilroy_regular">
        <a href="index.html" class="logo uppercase">
            quintessence
        </a>
        <div class="index_nav flex v_center">
            <a href="">
                Проекты
            </a>
            <a href="">
                Этапы работ
            </a>
        </div>
        <div class="index_nav account flex v_center">
            <a href="about.html">
                О нас
            </a>
            <a href="contacts.html">
                Контакты
            </a>
            <div class="fill_brief">
                Заполнить бриф
            </div>
        </div>
    </header>
    <div class="page_changer flex btw fixed gilroy_regular">
        <div class="page_changer_option projects_option flex center v_center active">
            Проекты
        </div>
        <div class="page_changer_option price_option flex center v_center">
            Прайс
        </div>
        <div class="page_changer_switcher">

        </div>
    </div>
    <div class="smooth_scroll projects_page">
        <div class="main_container flex btw gilroy_regular">
            {% for project in projects %}
                <div class="project_container">
                    <div class="project_image" {% if project.image_preview %}style="background-image: url('{{ project.image_preview.url }}')"{% endif %}>

                    </div>
                    <div class="project_name">
                        {{ project.name }}
                    </div>
                </div>
            {% endfor %}
            <div class="show_more_button_container flex center">
                <div class="show_more_button">
                    Показать еще
                </div>
            </div>
        </div>
    </div>
    <div class="smooth_scroll price_page hidden">
        <div class="main_container flex btw gilroy_regular">
            <div class="price_page_header gilroy_bold">
                Стоимость дизайн проекта
            </div>
        </div>
    </div>
    <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
    <script>
            // smooth scroll
        function projects_placer() {
            const project_containers = document.getElementsByClassName('project_container');

            for (let i = 0; i < project_containers.length / 2; i++) {
                if (i % 3 == 0) {
                    $(project_containers[i * 2]).addClass('wide');
                    if (i * 2 < project_containers.length) {
                        $(project_containers[i * 2 + 1]).addClass('thin');
                    }
                }
                else {
                    $(project_containers[i * 2]).addClass('thin');
                    if (i * 2 < project_containers.length) {
                        $(project_containers[i * 2 + 1]).addClass('wide');
                    }
                }
            }
        }
        projects_placer();

        const body = document.body
        var smooth_scroll = document.getElementsByClassName('projects_page')[0]
        var smooth_scroll_height = smooth_scroll.getBoundingClientRect().height - 1
        var speed = 0.08;

        var offset = 0;

        enable_scroll('projects_page')

        function enable_scroll(page_type) {
            smooth_scroll = document.getElementsByClassName(page_type)[0]
            smooth_scroll_height = smooth_scroll.getBoundingClientRect().height - 1

            offset = 0;

            body.style.height = Math.floor(smooth_scroll_height) + "px";

            smooth_scrolling(smooth_scroll, offset, speed);
        }


        function smooth_scrolling() {
            offset += (window.pageYOffset - offset) * speed;

            var scroll = "translateY(-" + offset + "px) translateZ(0)";
            smooth_scroll.style.transform = scroll;

            call_scroll = requestAnimationFrame(smooth_scrolling);
        }


        // projects / price changer
        $('.page_changer_option.price_option').click(function() {
            if ($('.page_changer_option.projects_option').hasClass('active')) {
                // hide project_page
                $('.smooth_scroll.projects_page').css('transition', '0.7s');
                $('.smooth_scroll.projects_page').addClass('hidden');

                $('.page_changer_switcher').css('min-width', '100%');
                setTimeout(() => {
                    $('.page_changer_switcher').css('right', '50%');
                    $('.page_changer_switcher').css('min-width', '50%');
                }, 200)

                setTimeout(() => {
                    // show price_page
                    $('.smooth_scroll.price_page').removeClass('hidden');
                }, 500)
            }
            $('.page_changer_option.price_option').addClass('active')
            $('.page_changer_option.projects_option').removeClass('active')
            window.cancelAnimationFrame(call_scroll);
            enable_scroll('price_page');
        })
        $('.page_changer_option.projects_option').click(function() {
            if ($('.page_changer_option.price_option').hasClass('active')) {
                // hide price_page
                $('.smooth_scroll.price_page').css('transition', '0.7s');
                $('.smooth_scroll.price_page').addClass('hidden');

                $('.page_changer_switcher').css('right', '100%');
                $('.page_changer_switcher').css('min-width', '100%');
                setTimeout(() => {
                    $('.page_changer_switcher').css('min-width', '50%');
                }, 200)

                setTimeout(() => {
                    // show project_page
                    $('.smooth_scroll.projects_page').removeClass('hidden');
                }, 500)
                setTimeout(() => {
                    $('.smooth_scroll.projects_page').css('transition', '');
                }, 1000)
            }
            $('.page_changer_option.projects_option').addClass('active')
            $('.page_changer_option.price_option').removeClass('active')
            window.cancelAnimationFrame(call_scroll);
            enable_scroll('projects_page')
        })
    </script>
</body>
</html>